.form {
  padding: var(--m);
  margin: var(--l);
  background-color: var(--tertiary);
  border-radius: 5px;
}

.title {
  text-align: center;
  margin-bottom: var(--s);
}

.row {
  display: flex;
  gap: var(--xs);
}

.element {
  margin-bottom: var(--xs);
}

.label {
  display: block;
}

.textarea {
  display: block;
  height: 200px;
  width: 100%;
}

.button {
  margin-left: 0;
}
