/* base */

html {
  box-sizing: border-box;
  font-size: 16px;
  color: var(--dark);
  background-color: var(--light);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2rem;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* variables */

:root {
  /* colors */
  --black: #000;
  --white: #fff;
  --light: #e9e8e8;
  --dark: #20262e;
  --primary: #913175;
  --action: #cd5888;
  --secondary: #eee8aa;
  --tertiary: rgb(137, 201, 180);

  /* sizes */
  --xs: 0.5rem;
  --s: 1rem;
  --m: 1.5rem;
  --l: 2.5rem;
  --xl: 4rem;

  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
